@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cor-primaria: #1c305c;
    --cor-primaria2: #2086b7;
    --cor-primaria21: #1a688b;
    --cor-secundaria: #ff812f;
    --cor-secundaria2: #514b9c;
    --cor-secundaria3: #f1537a;
    --cor-secundaria4: #673AB7;
    --cor-secundaria4-hover: #542f94;
    --cor-error: #ff0000;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 25 20% 26%; /* #504136 (brown) */
    --primary-foreground: 0 0% 98%;

    --secondary: 162 18% 50%; /* #689689 (teal) */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 25 20% 26%; /* #504136 (brown) */
    --primary-foreground: 0 0% 98%;

    --secondary: 162 18% 50%; /* #689689 (teal) */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.sidebar {
  background-color: #504136;
  color: white;
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.leaflet-container {
  width: 100%;
  height: 300px;
  z-index: 0;
}